
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="w3l-homeblock1" id="about">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <span class="title-subw3hny">About the disease</span>
                        <h3 class="title-w3l">
                            Smart Health Services
                        </h3>
                        <p class="mt-md-4 mt-3">
                           Location : Ahemadabad city, INDIA
                        <ul class="service-list pt-lg-2 mt-4">
                            <li class="service-link"><a href="#url"><span class="fas fa-check"></span> Avoid touching your face.</a></li>
                            <li class="service-link"><a href="#url"><span class="fas fa-check"></span> Cover your mouth and nose when coughing.</a></li>
                            <li class="service-link"><a href="#url"><span class="fas fa-check"></span> Stay home if you feel unwell.</a></li>
                        </ul>
                    </div>
                    <div class="HomeAboutImages col-lg-6 mt-lg-0 mt-5 pl-lg-5">
                        <div class="row position-relative">
                            <div class="col-6">
                                <img src="../Content/assets/images/1.jpg" alt="" class="radius-image img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="../Content/assets/images/2.jpg" alt="" class="radius-image img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

