
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="w3l-contact-2 py-5" id="contact">
        <div class="container py-lg-4 py-md-3 py-2">
            <div class="title-content text-center">
                <span class="title-subw3hny">Get in touch</span>
                <h3 class="title-w3l mb-lg-4">
                    Contact with our support <br>
                    during emergency!
                </h3>

            </div>
            <div class="contact-grids d-grid mt-5 mx-lg-5">
                <div class="contact-left">
                    <div class="cont-details">
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fas fa-map-marked-alt"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Our head office address:</h6>
                                <p>Sector 343,Ahemadabad City, INDIA,PIN-62617.</p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fas fa-blender-phone"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Call for help :</h6>
                                <p><a href="#">+(91) 9685747485</a></p>
                                <p><a href="#">+(91) 8596748574</a></p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fas fa-envelope-open-text"></span>
                            </div>
                            <div class="cont-right">
                                <h6>
                                    Mail us:
                                </h6>
                                <p><a href="#" class="mail">healthpro@gmail.com</a></p>
                                <p><a href="#" class="mail">smarthealth@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-right">
                    <form action="#" method="post" class="signin-form">
                        <div class="input-grids">
                            <input type="text" name="Name" placeholder="Your Name*" class="contact-input"
                                   required="" />
                            <input type="email" name="Email" placeholder="Your Email*" class="contact-input"
                                   required="" />
                            <input type="text" name="Subject" placeholder="Subject*" class="contact-input"
                                   required="" />
                        </div>
                        <div class="form-input">
                            <textarea name="Message" placeholder="Type your message here*" required=""></textarea>
                        </div>
                        <div class="submit-w3l-button text-lg-right">
                            <button class="btn btn-style btn-primary">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

