
@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="w3l-features py-5" id="work">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row main-cont-wthree-2 align-items-center">
                <div class="col-lg-6 feature-grid-left pr-lg-5">
                    <h5 class="title-subw3hny">How to Protect Yourself?</h5>
                    <h3 class="title-w3l mb-4">Prevention & advice</h3>
                    <p class="text-para">
                       
                    </p>
                    <a href="#" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More</a>
                </div>
                <div class="col-lg-6 feature-grid-right mt-lg-0 mt-5 pl-lg-5">
                    <div class="call-grids-w3 d-grid">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-hands-wash"></i>
                            </div>
                            <h4><a href="#" class="title-head">Wash your hands frequently</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-people-arrows"></i>
                            </div>
                            <h4><a href="#" class="title-head">Maintain social distancing</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-surprise"></i>
                            </div>
                            <h4><a href="#" class="title-head">Avoid touching on your face</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-temperature-high"></i>
                            </div>
                            <h4><a href="#" class="title-head">Practice </a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</center>

