
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="w3l-stats-main py-5">
        <div class="container py-lg-5 py-2">
            <div class="row stats-con">
                <div class="col-lg-3 col-6 stats_info counter_grid text-left mt-lg-0 mt-5">
                    <div class="icon stat-icon">
                        <i class="fab fa-keycdn"></i>
                    </div>
                    <p class="counter">1233100+</p>
                    <h4>Active Cases</h4>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid1 text-left mt-lg-0 mt-5">
                    <div class="icon stat-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <p class="counter">182020+</p>
                    <h4>Recovered Cases</h4>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid text-left mt-lg-0 mt-5">
                    <div class="icon stat-icon">
                        <i class="fas fa-skull-crossbones"></i>
                    </div>
                    <p class="counter">71912+</p>
                    <h4>Total Recovery</h4>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid text-left mt-lg-0 mt-5">
                    <div class="icon stat-icon">
                        <i class="fas fa-crutch"></i>
                    </div>
                    <p class="counter">11912+</p>
                    <h4>Vaccination</h4>
                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</center>

