
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="w3l-servicesblock2" id="services">
        <section id="grids5-block" class="py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <h5 class="title-subw3hny text-center">Protect Yourself?</h5>
                <h3 class="title-w3l text-center">
                    Take Steps To Protect
                    Yourself
                </h3>
                <div class="row mt-lg-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="../Content/assets/images/s1.jpg" alt=""
                                     class="img-fluid" />
                            </a>
                            <div class="blog-info">
                                <a href="#service" class="title">Wear A Face Mask</a>
                                <p class="text-para">  </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="../Content/assets/images/s2.jpg" alt=""
                                     class="img-fluid" />
                            </a>
                            <div class="blog-info">
                                <a href="#service" class="title">Wash Your Hands</a>
                                <p class="text-para"> </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="../Content/assets/images/s3.jpg" alt=""
                                     class="img-fluid" />
                            </a>
                            <div class="blog-info">
                                <a href="#service" class="title">Avoid Close Contact</a>
                                <p class="text-para"> </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

